/* Home Page Styles */

@media (max-width: 1300px) {
  .home-heading-1 {
    font-size: 2rem !important; 
  }
  .home-heading-2 {
    font-size: 1.25rem !important; 
  }
  .home-btn {
    font-size: 1rem !important;
    padding: 0.5rem 1.5rem;
  }
}

@media (max-width: 1040px) {
  .home-content {
    gap: 6 !important;
  }

  .headings > * + * {
    margin-top: 0.75rem !important; 
  }

  .home-btn {
    min-width: 150px !important;
    font-size: 0.9rem !important;
    padding: 0.5rem 0.5rem !important;
  }

  .home-heading-1 {
    font-size: 1.5rem !important; 
  }
  .home-heading-2 {
    font-size: 1rem !important; 
    font-weight: 400 !important;
  }
}

@media (max-width: 700px) {
  .home-grid {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    margin-top: 3.5rem !important; /* Add bigger gap from header */
  }
  .home-img {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 160px !important;
    height: 160px !important;
    max-width: 60vw;
    max-height: 60vw;
  }
  .home-content {
    width: 100%;
    align-items: center;
    text-align: center;
  }
  .home-content .flex.gap-6 {
    justify-content: center !important;
    width: 100% !important;
  }
}

@media (max-width: 500px) {
  .home-content .flex.gap-6 {
    flex-direction: column !important;
    gap: 1rem !important;
    align-items: stretch !important;
  }

  .container {
    padding: 0 2rem !important;
  }
} 